.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2rem;
  margin-bottom: -55px !important;
  margin-top: 15px;
}

.navbar-container {
}

.navbar-brand {
  margin: 0px 0 0 5%;
}

.navbar-menu {
  width: 30%;
  font-size: 1.5rem;
}

.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a:-webkit-any-link {
  font-weight: 400;
  text-decoration: none;
  color: var(--main-dark);
}

.btn-1 {
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 0.05rem;
  transition: 0.5s all ease-in-out;
  position: relative;
  background: transparent;
}

.btn-1::before,
.btn-1::after {
  /* border-top: 0.1rem solid#ffffff;
  border-bottom: 0.1rem solid #ffffff; */
  display: block;
  position: absolute;
  background: transparent;
  content: "";
  /* top: -10px;
  bottom: -10px;
  left: 200%;
  right: 200%; */
  transition: 0.48s all ease-in-out;
}

.btn-1:hover {
  letter-spacing: 0.2rem;
  font-weight: 1200;
}

.btn-1:hover:before,
.btn-1:hover:after {
  left: 0;
  right: 0;
}
